<br><br><br><br>

<div class="row">
    <div class="column">
      <div class="card">
        <img class="card-img-top" src="assets\img\renata-adrienn-ebvCsRypmxM-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
          <center><a href="#/organize-event" class="btn btn-primary">Organize Event</a></center>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="card-img-top" src="assets\img\phil-desforges-L0K-87Ybwio-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
          <center><a href="#/register-event" class="btn btn-primary">Register for Event</a></center>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img class="card-img-top" src="assets\img\wilhelm-gunkel-h4KYT7X1HM4-unsplash.jpg" alt="Card image cap">
          <div class="card-body">
            <center><a href="#/event-history" class="btn btn-primary">Event History</a></center>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img class="card-img-top" src="assets\img\stil-flRm0z3MEoA-unsplash.jpg" alt="Card image cap">
          <div class="card-body">
            <center><a href="#/event-status" class="btn btn-primary">Event Status</a></center>
          </div>
        </div>
      </div>
</div>




