<br>
      <a style="margin-left: 1%;" href="#/user" class="btn btn-sm btn-secondary">Back</a>
<br><br><br><br>
<div class="row">
  <div style="margin-left: 3%;">
    <div class="column">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Organized Events</h2>
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Organizer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  $2,500 USD
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>                
                <td class="text-left">
                  Name
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div style="margin-left: 5%;">
    <div class="column">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Attended Events</h2>
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Organizer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  $2,500 USD
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td class="text-left">
                  Name
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  $2,500 USD
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td> 
                <td class="text-left">
                  Name
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>